body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
}

.container{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #E6EDFA 100%);
    position: relative;
}
#elli_l{
    position: absolute;
    top: 0;
    left: 0;
}
#elli_r{
    position: absolute;
    top: 0;
    right: 0;
}

.bock_haed_dect{
    width: 100%;
    max-width: 1440px;
    height: 70px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

}
.nav_block{
    list-style: none;
    display: grid;
    grid-template-columns: 100px 100px 130px 100px;
    margin: 0 auto;
    padding: 0;
}
.nav{
    transition: step-start 1s;
    color: rgba(135, 146, 167, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
}
.nav:hover{
    color: rgba(1, 143, 222, 1);
}
.logo{
    margin: 0 auto 0 64px;
    width: 110px;
    height: 32px
}
#chev{
    position: relative;
}
#chev::after,#chev::before{
    content: '';
    position:absolute;
    background-color: rgba(135, 146, 167, 1);
    width: 7px;
    height: 2px;
    top: 7px;
}
#chev::after{
    content: '';
    position:absolute;
    transform: rotate(45deg);
    right: 29px;
   
}
#chev::before{
    content: '';
    position:absolute;
    right: 25px;
    transform: rotate(-45deg)
}
.ret{
    width: 112px;
    height: 121px;
    list-style: none;
    position: absolute;
    padding: 0;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.04)
    

}
.lor_menu{
line-height: 2;
}

.call_butt{
    border: none;
    outline: none;
    width: 95px;
    height: 40px;
    top: -3px;
    left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    z-index: 2;
    position: absolute;
    
}
.border{
    position: relative;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    z-index: 1;
    margin: 0 64px 0 auto;

}

@media screen and (max-width:1366px) and (min-width:1000px) {
    .logo {
        width: 90px;
        height: auto;
    }
    .call_butt,.border{
        width: 85px;
        height: 30px;
    }
    .call_butt{
        top: -2;
        left: 2px;
    }
}
@media screen and (max-width:900px) and (min-width:700px){
    .bock_haed_dect{
        grid-template-columns: 3fr 1fr 1fr;
        overflow: hidden;
    }
    .nav_block{
        position: absolute;
        display:none;
    }
    .call_butt{
        grid-column-start: 2;
    }
    .border{
        margin-right: 0;
    }

    .button_menu{
        width: 80%;
        margin: 0 auto 0 35px;
        

    }
    .Menu{
        width: 100%;
        position: relative;
        border: none;
        outline: none;
        color:#000;
        background-color: #e5e5e500;
    }
    .burger{
        width: 24px;
        height: 3px;
        background-color: #000;
        position: absolute;
        top: 12px;
                

    }
    .burger::after,.burger::before{
        position: absolute;        
        content: "";
        height: 3px;
        background-color: #000;
    }
    .burger::after{
        width: 16px;
        top: 8px;
        left: 0;

    }
    .burger::before{
        width: 28px;
        bottom: 8px;
        left: 0;
    }
    #text_button{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000;


    }
}


/* ///////////////////////////////////////////////// */

.block_center{
    width: 884px;
    height: 380px;
    margin: 100px auto 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.left{
    width: 100%;
    position: relative;

}
.left::after,.left::before{
    content: '';
    width: 10px;
    height: 1px;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
}
.left::before{
    transform-origin: left;
    transform: rotate(90deg);
    height: 2px;
}
.block_center::after,.block_center::before{
    width: 10px;
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: #000;
}
.block_center::after{
    transform-origin: right;
    transform: rotate(90deg);
    height: 2px;
    }

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 56px;
    color: black;
    margin: 30px auto 0 auto;
    width: 60%;
    line-height: 80px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 34.13px;
    color: rgba(1, 143, 222, 1);

}

.line{
    width: 60%;
    height: 20px;
    margin: 0 auto;
    position: relative;
}
.line::after,.line::before{
    content: '';
    position: absolute;
    height: 1px;
    background-color: black;
    
}
.line::after{
    width: 502px;
    left: 10px;
    transform-origin: left;
    transform: rotate(358.6deg);

}
.line::before{
    width: 376px;
    left: 10px;
}
.center{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    margin: 0 auto;
    align-items: center;

}

.center_text{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #3D3D3D;
    width: 164px;
    margin: 0 auto;
    
    
}
.consult_div{
    align-items: center;
    width: 211px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #000;
    position: relative;

}
.free_consultation{
    outline: none;
    background-color: black;
    color: white;
    border: none;
    width: 211px;
    height: 40px;
    margin-left: 4px;
    margin-top: -4px;

}
@media screen and (max-width:1366px) and (min-width:1000px) {

    .block_center{
        width: 780px;
        height: 315px;
    }

    h1{
    font-size: 50px;
    line-height: 70px;
    margin: 20px auto 0 auto;
    }

    h2{
        font-size: 24px;
    }

    .line::before {
        width: 320px;
        left: 10px;
    }

    .line::after {
        width: 440px;
        left: 10px;
        transform-origin: left;
        transform: rotate(358.6deg);
    }
    .center_text {
        font-size: 10px;
        line-height: 15px;
    }
    .center{
        width: 55%;

    }
    .consult_div,.free_consultation{
        width: 190px;
        height: 35px;
    }
    .free_consultation{
        margin-left: 2px;
        margin-top: -2px;
    }
   
}


@media screen and (max-width:900px) and (min-width:700px){

    .block_center{
        width: 624px;
    }
    h1{
        font-size: 48px;
        line-height: 72px;
        width: 70%;
    }
    h2{
        font-size: 24px;
        line-height: 29.26px;

    }
    .line {
        width: 70%;

    }
    .line::before {
        width: 310px;
    }
    .line::after {
        width: 415px
    }
    .center{
        width: 77%;
        margin: 10px auto;
    }
    .consult_div {
        margin-right: 30px;
    }

    
    
}

/* ///////////////////// */

.form_block{
    width: 80%;
    max-width: 1440px;
    height: 523px;
    margin: 124px auto 0 auto;
    background-color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#block_form_center{
    width: 100%;
    transform: translate(0, 20%);
}
h3{
    color: #018FDE;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 45px;
}
span{
    color: black;
}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50px 50px ;
    margin: 10px auto;
    width: 58%;
    gap: 15px 3px;
    

}
.inputs,.big_input{
    outline: none;
    background: #EEF3FC;
    width: 312px;
    height: 48px;
    border: none;
    padding-left:10px;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;}
.big_input{
    
    width: 650px;
    margin: 0 auto;
    height: 96px;
    }

.Send_div{
    align-items: center;
    width: 211px;
    height: 40px;
    margin: 30px auto;
    border: 1px solid #000;
    position: relative;

}
.Send_butt{
    outline: none;
    background-color: black;
    color: white;
    border: none;
    width: 211px;
    height: 40px;
    margin-left: 4px;
    margin-top: -4px;

}

@media screen and (max-width:1366px) and (min-width:1000px) {
    h3 {
        font-size: 30px;
        line-height: 30px;

    }
    .form{
        justify-content: space-around;
        gap: 15px 12px;

    }
    
}
@media screen and (max-width:900px) and (min-width:700px){
    .form_block{
        width: 624px;
        height: 438px;
    }
    h3{
        font-size: 28px;
        line-height: 34px;
        margin-bottom:25px
    }
    #block_form_center{
        transform: translate(0, 10%);

    }
    .form{
        width: 85%;
    
    }
    .inputs{
        width: 240px;
        padding: 0 0 0 10px;
    }
    .big_input{
        width: 500px;
        
    }
}
    

/* ///////////////////////////////////////// */

.footer{
    width: 100%;
    height: 370px;
    background-color: black;
    margin-top: 120px;
    display: flex;
}
.block_footer{
    max-width: 1440px;
    width: 90%;
    overflow: hidden;
    font-family: Montserrat;
    font-style: normal;
    display: grid;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    grid-template-columns: repeat(4,1fr);
}

.exp_bl{
    width: 88px;
    height: 25.5;


}
h4{
    font-weight: 600;
    font-size: 20px;
}
p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #DBDBDB;
    margin: 0;

}
#cont{
    margin-top: 42px;

}

.express{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px repeat(4,45px);
    align-items: center;
    
}

.contact{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70px repeat(3,60px);
    align-items: center;
    gap: 7px;

}

.uk{
    display: grid;
    grid-template-columns: 40px 130px;
    grid-template-rows: 22.5px 22.5px;
    gap: 2px;
}

.uk_one{
    grid-column-start: 1;
}

.uk_two{ 
    grid-column-start: 2;
}

.uk_tree{
    grid-column-start: 2;
    grid-row-start: 2;
}

.address{
    display: grid;
    grid-template-rows: repeat(4, 60px);
    align-items: center;
    margin: 0 auto;
    
}

.address_two{
    grid-row-start: 3;
}

#ad{
margin-top:68px;
}
#lor{
    width: 150px;
}

#our{
    margin-top: 60px;
    margin-bottom: 10px;
}

.email{
    display: grid;
    grid-template-rows: 60px 25px 80px 77px;
    align-items: center;
    margin: 0 auto;
}
.email,.address,.express,.contact{
    width: 200px;

}
@media screen and (max-width:1366px) and (min-width:1000px) {

    .block_footer {
        max-width: 80%;
    }
    p{
        font-size: 12px;
    }
    h4{
        font-size: 16px;
    }
    #ad{
        
    }
    #lor{
        width: 130px;
    }
    .email{
        gap: 3px;
    }
}
@media screen and (max-width:900px) and (min-width:700px){
    .block_footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .address{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .address_two{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .footer{
        height: 422px;
    }
    h4{
        font-size: 18px;
        line-height: 22px;
    }
}